---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfBooks from '../components/ListOfBooks.astro';

---

<Layout title="Programming books">
	<main class="max-w-5xl flex flex-col m-auto">		
		<Title />
		<ListOfBooks />
	</main>
</Layout>

